.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
}
.expense-item {
  display: flex;
}
.expense-item > li {
  padding: 10px;
}

.expense-list > ul{
  list-style: none;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
 
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px;
  padding: 5px;
}
.expense-list {
  display: flex;
  justify-content: center;

}